<mat-card class="welcome-card">
  <mat-card-title class="welcome-title">
    <h1>BIENVENIDO A LA NUEVA VERSIÓN DEL MÓDULO DE oas</h1>
  </mat-card-title>
  <mat-card-content class="welcome-content">
    Se han implementado nuevas funcionalidades para el sistema y se ha optimizado su funcionamiento.
  </mat-card-content>
</mat-card>

<section class="dashboard-section">
  <app-autocomplete-tercero (selected)="onEmpresa($event)"></app-autocomplete-tercero>

  <div class="selected-pill" *ngIf="selected">
    Seleccionado: {{ selected.Label }}
  </div>

  <app-data-table
    [columns]="columns"
    [rows]="rows"
    (action)="onAction($event)"
    [enableFilter]="true"
    *ngIf="columns?.length"
  ></app-data-table>
</section>
